<% include ../partials/head %>
<% include ../partials/header %>

<p>Trade Tester</p>
<p></p>

<% if (!user) { %>
  <a href = "/login">Log In</a>
  <a href = "/signup">Sign Up</a>
  <!-- TODO user page -->
  <a href = "/newCompetition">New Competition</a>
<% } else { %>
  <p> hello, <%= user.username %> </p>
  <a href="/logout">Log Out</a>
<% } %>

<% if (symbol == null) { %>
  <% if (price == -1) { %>
    <p> That symbol doesnt exist! </p>
  <% } %>

  <p>Check the value of a stock symbol!</p>
  <form action="/" method="post">
    <input name="symbol" type="text" placeholder="Enter a symbol" required>
    <input type="submit" value="Get Value">
  </form>
<% } else { %>
  <p> <i>$<%= symbol %> </i></p>
  <p> $<%= price %> </p>
  <a href="/">Go Back</a>
<% } %>

<% include ../partials/footer %>
