<% include ../partials/head %>
<% include ../partials/header %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <% if (price == null) { %>
      <form action="/" method="post">
        <input name="symbol" type="text" placeholder="Enter a symbol" required>
        <input type="submit" value="Get Value">
      </form>
    </body>
  <% } else { %>
    <p> <%= symbol %> </p>
    <p> <%= price %> </p>
  <% } %>
</html>

<% include ../partials/footer %>
