<% include ../partials/head %>
<% include ../partials/header %>

<p>Trade Tester</p>
<p></p>

<form action="#"

<% if (symbol == null) { %>
  <% if (price == -1) { %>
    <p> That symbol doesnt exist! </p>
  <% } %>

  <form action="/" method="post">
    <input name="symbol" type="text" placeholder="Enter a symbol" required>
    <input type="submit" value="Get Value">
  </form>
<% } else { %>
  <p> <%= symbol %> </p>
  <p> $<%= price %> </p>
  <a href="/">Go Back</a>
<% } %>

<% include ../partials/footer %>
